__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.egg-info/
dist/
.build/
*.egg
*.log
*.csv
*.tsv
*.xlsx
.env
*.ipynb_checkpoints
builds/*
cache/*
.coverage
.cache
.DS_Store
.venv
.pytest_cache
.mypy_cache
src/alfred/mlflow.db
